<mat-card appearance="outlined" fxLayoutAlign="stretch" fxFlexAlign="stretch" id="container">
  <div fxLayout="row">
    <div fxFlex="<flex-basic>" class="centered">OTR Project and Impact Tracker</div>
  </div>
  <div fxLayout="row">
    <div fxFlex="<flex-basic>" class="centered1">Translational success tracking and read out: Please fill in the initial questionnaire with the project details to get started</div>
  </div>
  </mat-card>
  <mat-card appearance="outlined" fxLayout fxLayoutAlign="stretch" fxLayout="row" fxLayout.xs="column" style="height:100px;">

    <div fxLayoutAlign="stretch" class="item">
      <img src='/assets/images/cambridge.png' alt="">
    </div>
    <div fxLayoutAlign="stretch"  class="item">
      <img src='/assets/images/LMU_Muenchen_Logo.svg.png' alt="">
    </div>
    <div fxLayoutAlign="stretch"  class="item">
      <img src='/assets/images/lmu.jpg' alt="">
    </div>
    <div fxLayout fxLayoutAlign="right" class="item1">
      Supported by the STAR-Track project within the Cambridge LMU Strategic Partnership in collaboration with the CPC-M bioArchive in Munich.
       </div>
  </mat-card>
