<mat-card appearance="outlined" fxFlexAlign="stretch">
  <!-- Create Profile  -->
  <mat-toolbar color="primary" fxLayoutAlign="space-around center">
    <span>User Password Change</span>
  </mat-toolbar>
  <mat-card-content>
    <form class="example-form" [formGroup]="registerForm">
      <mat-grid-list cols="1" rowHeight="320px">
        <mat-grid-tile>
          <div class="controles-container">
            <!--  <input type="hidden" formControlName="$key"> -->
            <!--  <input matInput readonly hidden name="id" value={{idValue}} matInput placeholder="this.currentUser.id"> -->
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" minlength="6" formControlName="password" required
                [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <div *ngIf="submitted && registerForm.get('password')?.errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('password')?.errors?.required">Password is required</div>
              </div>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput placeholder="Confirm" minlength="6" formControlName="confirmPassword" required
                [type]="hide1 ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="example-button-row">
        <p> <button mat-raised-button color="primary" matTooltip="Update User Password" class="example-button"
            (click)="updateUserPassword(registerForm.value)">Update Profile</button><button mat-raised-button
            color="warn" (click)="onClose()" matTooltip="Cancel Update">Cancel</button> </p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
